<html>
	<head>
		<title>{{ page.title }}</title>
		<link id="stylesheet" href="{{ site.base-url }}/css/github.css" rel="stylesheet" type="text/css"></link>
		<script type="text/javascript">

			function logoClick() {
				document.location = 'http://' + document.location.host;
			}

		</script>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <p><a href="http://pages.github.com">Build Instructions</a> &nbsp; <a href="http://pages.github.com">User</a> &nbsp; <a href="http://pages.github.com">Administrator</a> &nbsp; <a href="http://pages.github.com">Configuration</a> &nbsp; <a href="http://pages.github.com">Widget Developer</a> &nbsp; <a href="http://pages.github.com">Support</a> &nbsp; <a id="forkme_banner" href="https://github.com/LHeffner/lheff">View on GitHub</a></p>

          <h1 id="project_title">Lheff</h1> 
          <h2 id="project_tagline">LHeff's Repo</h2>

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div class="content">
  <div id="post">
    <h1>{{ post.title }}</h1>
    {{ content }}
  </div>
        <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
    {{content}}

  		<div class="footer">
				<div style="border-style: none none dashed none; border-width: 1px; border-color: Silver;margin-top: 40px;"></div>
				<p style="font-size: 8.5pt;color:Gray;text-decoration:italics;text-align: center;">Copyright 1999-2011 Research In Motion Limited. 295 Phillip Street, Waterloo, Ontario, Canada, N2L 3W8. All Rights Reserved.</p>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">This Amazing Repo Page is maintained by <a href="https://github.com/LHeffner">LHeffner</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>
    


    

  </body>
</html>  
  
</div>
